*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    padding: 20px 50px;
}

.btnContainer{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.btnLogin{
    margin-right: 10px;
    background-color: #226957;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btnRegister{
    margin-right: 10px;
    background-color: #EA9E1F;
    color: white;
    width: 105px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    .container{
        padding: 20px 20px;
    }

    .btnLogin, .btnRegister{
        width: 70px;
        height: 35px;
        font-size: 13px;
    }
}