.containerSuccess{
    display: block;
    width: 620px;
    margin: 50px auto;
    font-size: 16px;
    text-align: center;
}

.successWord{
    font-size: 24px;
    color: #226957;
    margin-bottom: 20px;
}

.btnBackToLogin{
    background-color: #226957;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .containerSuccess{
        width: 350px;
        margin: 10px auto;
        font-size: 16px;
    }

    .email{
        width: 350px;
    }

    .submitCancel, .submitConfirm{
        width: 90px;
        height: 35px;
        font-size: 13px;
    }
}