.containerReset{
    display: block;
    width: 620px;
    margin: 50px auto;
    font-size: 16px;
}

.titleReset{
    font-size: 24px;
    margin-bottom: 20px;
}

.form{
    margin-top: 25px;
}

.email{
    width: 615px;
    height: 35px;
    font-size: 15px;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #CFD6E5;
    margin-bottom: 20px;
    padding-left: 10px;
}

.containerSubmit{
    text-align: right;
    margin-top: 30px;
}

.submitCancel{
    background-color: #EA9E1F;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-right: 20px;
}

.submitConfirm{
    background-color: #226957;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    .containerReset{
        display: block;
        width: 350px;
        margin: 10px auto;
        font-size: 16px;
    }

    .email{
        width: 350px;
    }

    .submitCancel, .submitConfirm{
        width: 90px;
        height: 35px;
        font-size: 13px;
    }
}